.auth {
  text-align: center;
  margin-top: 30px;
}
* {
  margin: 0;
  padding: 0;
}
.form {
  width: 50%;
  margin: 0;
  height: 100% !important;
  float: left;
  background-color: #e0e0e0;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15%;
}
.bookmarks {
  width: 50%;
  height: 100%;
  float: right;
}
.bookmark {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  width: 40%;
  margin-top: 20px;
}
.bookmark a {
  font-size: 25px;
}

.logout {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.add {
  width: fit-content !important;
  margin: auto !important;
}
@media only screen and (max-width: 600px) {
  .form {
    width: 100%;
    position: relative;
    top: 0;
    height: 20%;
    padding-top: 4px;
  }
  .bookmarks {
    height: 80%;
    width: 100%;
    position: relative;
  }
  .auth fieldset {
    text-align: center !important;
  }
  .auth input {
    margin: auto !important;
  }
}
.remove {
  padding: 2px 5px;
}
.no {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.home_link {
  font-size: 40px;
}
